.pricing {
    &__title {
        margin-bottom: 30px;
    }
}


.pricing-cart {
    height: 100%;
    background-color: #fff;
    border: 1px solid #D0D5DD;
    border-radius: 1rem;
    &.active {
        border: 1px solid #3B82F6;
        box-shadow: 0px 0px 60px 0px rgba(59, 130, 246, 0.20);
    }
    &__header {
        padding: 20px;
        border-bottom: 1px solid #D0D5DD;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin: 0;
    }
    &__subtitle {
        color: #6D6E73;
    }
    &__content {
        padding: 20px;
    }
    &__tag {
        border-radius: 100px;
        background: #DEEBFF;
        margin: 0;
        color: #3B82F6;
        font-size: 14px;
        padding: 2px 10px;
    }
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__btn {
        width: 100%;
        background: #DEEBFF;
        color: #3B82F6;
        &:hover {
            background: #2D6CE2;
            color: #fff;
        }

    }
    &.active &__btn {
        background: #3B82F6;
        color: #fff;
        &:hover {
            background: #2D6CE2;
            color: #fff;
        }
    }
}