
@font-face {
    font-display: swap;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Aspekta-400.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Aspekta-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Aspekta-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Aspekta-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}